.footer_container{
    color:aquamarine;
    background-color: blueviolet;
    height: 198px;                                                                                                                                                                                                         
}